.task-list ul {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-name {
  flex: 2;
}

.task-priority {
  flex: 1;
  text-align: center;
}

.task-item button {
  margin-left: 10px;
}

.App {
  margin-top: 50px; /* 画面全体を50px下に下げる */
}

.level-display-container {
  position: fixed;
  bottom: 50px;
  width: 100%;
  padding: 10px 0;  /* 上下に10pxの余白を設ける */
 
}

.show-more-button-container {
  position: fixed;
  bottom: 300px; /* 画面の下に固定 */
  width: 100%;
  padding: 10px 0; /* 上下に10pxの余白を設ける */
  display: flex;
  justify-content: center;
}

/*追加ボタンの設定*/
.task-submit-button {
  width: 80px; /* ボタンの幅を指定 */
  height: 20px; /* ボタンの高さを指定 */
  font-size: 14px; /* フォントサイズを指定 */
}

/*題名の設定*/
.app-title {
  text-align: center; /* 中央に配置 */
  font-size: 2.5rem; /* フォントサイズを変更 */
  font-weight: bold; /* フォントの太さを変更 */
  margin-top: 20px; /* 上部の余白を追加 */
  margin-bottom: 20px; /* 下部の余白を追加 */
}