.task-list ul {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-name {
  flex: 2;
}

.task-priority {
  flex: 1;
  text-align: center;
}

.task-item button {
  margin-left: 10px;
}