.hamburger-button-right {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.menu-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu-right.open-menu-right {
  transform: translateX(0);
}

.close-button-right {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-content-right {
  padding: 20px;
}

/* 土曜日だけ青色にする */
.react-calendar .react-calendar__month-view__days__day--weekend:nth-child(7n-1) {
  color: #00F;
}

/* active時の文字の色（選択後の日付の色） */
.react-calendar__tile--active {
  color: white !important;
}

/* 土曜を全部青色にしても今月以外は灰色にする */
.react-calendar .react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}