.hamburger-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.menu {
  position: fixed;
  top: 0;
  left: -600px; /* メニューが閉じているときの位置 */
  width: 600px; /* メニューの幅を広げる */
  height: 100%;
  background-color: rgb(41, 41, 41);
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  z-index: 999;
  overflow-y: auto;
  padding: 20px;
  transition: left 0.3s ease;
}

.menu.open {
  left: 0;
}

.menu .close-button {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
}

.menu-content {
  margin-top: 100px; /* 位置を30px下に下げる */
  padding-bottom: 20px; /* 下部に余白を追加 */
}

.task-list {
  margin-top: 20px; /* タスクリストを少し下げる */
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-name {
  flex: 2;
}

.task-priority {
  flex: 1;
  text-align: center;
}

.task-item button {
  margin-left: 10px;
}

/*教科リストの設定*/
.subject-item {
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 3); /* 影を追加 */
  border-radius: 4px; /* 角を丸める */
}

/*削除ボタンの設定*/
.delete-button {
  background-color: #E74C3C; /* ボタンの背景色を赤に設定 */
  color: rgb(27, 27, 27); /* ボタンの文字色を白に設定 */
  width: 80px; /* ボタンの幅を指定 */
  border: none; /* ボーダーを削除 */
  padding: 10px 20px; /* パディングを追加 */
  border-radius: 6px; /* 角を丸める */
  cursor: pointer; /* カーソルをポインターに変更 */
}

.delete-button:hover {
  background-color: #C0392B; /* ホバー時の背景色を変更 */
}