.hamburger-button {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  position: fixed;
  top: 20px;
  left: 20px;
}

.menu {
  position: fixed;
  top: 0;
  left: -500px; 
  width: 500px; 
  height: 100%;
  background-color: #333;
  color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.menu.open {
  left: 0;
}

.menu .close-button {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.menu-content {
  max-height: calc(100% - 80px); /* 必要に応じて調整 */
  overflow-y: auto; /* タスク一覧だけをスクロール可能にする */
  padding: 20px;
}