.hamburger-button {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  position: fixed;
  top: 20px;
  left: 20px;
}

.menu {
  position: fixed;
  top: 0;
  left: -700px; 
  width: 700px; 
  height: 100%;
  background-color: #333;
  color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.menu.open {
  left: 0;
}

.menu .close-button {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.menu-content {
  max-height: calc(100% - 80px); /* 必要に応じて調整 */
  overflow-y: auto;
  padding: 20px;
}

.task-list {
  max-height: 200px; /* タスクリストの高さを制限 */
  overflow-y: auto; /* スクロール可能にする */
}

.task-list ul {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-name {
  flex: 2;
}

.task-priority {
  flex: 1;
  text-align: center;
}

.task-item button {
  margin-left: 10px;

    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    position: fixed;
    top: 20px;
    left: 20px;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    overflow: hidden; /* 全体のスクロールを無効にする */
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .menu.open {
    left: 0;
  }
  
  .menu .close-button {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
  }

  .menu-content {
    max-height: calc(100% - 80px); /* 必要に応じて調整 */
    overflow-y: auto; /* タスク一覧だけをスクロール可能にする */
    padding: 20px;
  }
