.level-display-card {
    width: 16rem; /* 固定幅 */
    padding: 1rem;
    text-align: center;
    position: relative; /* 削除ボタンの位置を絶対位置にするため */
}

.level-display-progress {
    width: 100%;
    background-color: #ccc; /* グレー */
    border-radius: 9999px;
    height: 1rem;
    margin-top: 0.5rem;
    transition: width 0.3s ease-in-out;
}

.level-display-progress-bar {
    background-color: #3b82f6; /* 青色 */
    height: 1rem;
    border-radius: 9999px;
}

.level-display-delete-button {
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: #f87171; /* 赤色 */
    color: white;
    padding: 0.5rem;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
}

.level-display-delete-button:hover {
    background-color: #ef4444; /* 濃い赤色 */
}
