.level-display-card {
    width: 16rem; /* 固定幅 */
    padding: 1rem;
    text-align: center;
}



.level-display-progress {
    width: 100%;
    background-color: #ccc; /* グレー */
    border-radius: 9999px;
    height: 1rem;
    margin-top: 0.5rem;
    transition: width 0.3s ease-in-out;
}

.level-display-progress-bar {
    background-color: #3b82f6; /* 青色 */
    height: 1rem;
    border-radius: 9999px;
}
